body{
  font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Acme', sans-serif;
}


a{
  text-decoration: none;
  margin: 0;
  padding: 0 !important;
}


.section-img{
  max-width: 260px;
  width: 100%;
  margin: auto;
  padding: 20px;
}



/*TOP BAR*/
.topbar{
  width: 100%;
  background-color: #FFDD0E;
  position: relative;
  z-index: 1;
}

.topbar-content{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.top-links{
  display: flex;
  justify-content: space-between;
}

.top-links li{
  padding: 0 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.top-links li a{
  color: #683C10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: .5s;
}

.top-links a:hover{
  opacity: 0.8;
}

.top-links i{
  margin-right: 5px;
}


/*HEADER*/
#header{
  background-image: url(../../img/header-bg.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

#header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;

}

.nav-link{
  font-size: .9rem;
  color: white !important;
  font-weight: 600;
  text-transform: uppercase;
  transition: .5s;
}

.nav-link:hover{
  color: #FFDD0E !important;
}

#header li{
  padding: 20px 15px 0;
}


.logo img{
  max-width: 140px;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 0 0 5px 5px;
}

.mobile-menu{
  display: none !important;
  width: 100%;
  background: white;
}

.mobile-menu li{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px !important;
}

.mobile-menu li a{
  color: #808080 !important;
}

.showMenu{
  display: block !important;
  animation: showMenuAnimation .5s forwards;
}


@keyframes showMenuAnimation{
  from{
    opacity: 0;
    transform: translateY(5px);
  }

  to{
    opacity: 1;
    transform: initial;
  }
}

#hamburger{
  display: none;
  border: none;
  background-color: #FFDD0E;
  color: #683C10;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.4rem;
}



/*CALL TO ACTION*/
.cta{
  background: url(../../img/header-bg.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
  text-align: center;
}

.cta-title{
  font-family: Acme;
  font-size: 4rem;
  color: white;
}

.cta-text{
  color: white;
  font-size: 1.8rem;
  margin: 20px 0;
}

.btn-orange{
  background-color: #E94E1A;
  padding: 8px 16px !important;
  text-transform: uppercase;
  color: white;
  transition: .3s;
  margin: auto;
  width: auto;
  font-size: 0.8rem !important;
  text-align: center;
}

.btn-orange:hover{
  opacity: 0.8;
}

.btn-yellow{
  background-color: #FFDD0E;
  padding: 8px 16px !important;
  text-transform: uppercase;
  color: #683C10;
  transition: .3s;
  margin: auto;
  width: auto;
}

.btn-yellow:hover{
  opacity: .8;
}

/*SLIDER*/
.slider{
  position: absolute;
  top: 30px;
  width: 100%;
}

#slider button{
  z-index: 999 !important;
}

.slick-dots{
  display: none !important;
}

/*FOOTER*/
.to-top{
	padding: 10px;
	background: #333;
	border-radius: 5px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	transition: .5s;
}
.to-top a{
	color: white !important;
}
.to-top:hover{
	opacity: .8;
}
.footer{
  padding: 100px 0;
}
.logo-footer{
  max-width: 140px;
  width: 100%;
  margin-bottom: 20px;
}

#footer h6{
  font-family: Acme;
  font-size: 1.4rem;
  color: #683C10;
  padding: 4px 0;
}

.bottom-bar{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E94E1A;
  color: white;
  width: 100%;
}




/*QUEM SOMOS*/
.quem-somos{
  padding: 60px 0;
  margin-top: 500px;
}

.section-title{
  font-size: 3rem;
  font-family: Acme, 'Sans-serif';
  color: #683C10;
}

.text{
  font-size: 1rem;
  color: #808080;
  line-height: 1.8rem;
  margin: 20px 0;
  text-align: justify;
}

/*DIFERENCIAIS*/
.diferenciais{
  background: url("../../img/diferenciais-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 60px 0;
  margin: 60px 0;
}

.diferenciais .card{
  padding: 20px;
  margin: 1px;
}

.diferenciais .row{
  justify-content: space-between;
}

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #E94E1A;
}

.card-text{
  line-height: 1.8rem;
  text-align: justify;
  color: #808080;
}

/*NOSSOS MOMENTOS*/
.momentos{
  padding: 60px 0;
}

.galery-thumbs{
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin: 10px 0;
}

.galeria img{
  transition: .5s;
}

.galeria img:hover{
  opacity: 0.8;
}

/*TOUR*/
.tour{
  padding: 100px 0;
  background-color: #eee;
}

/*BREADCRUMBS*/
.breadcrumb{
  padding: 20px;
  background-color: eee;
  color: #808080;
  text-align: center;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
  margin: 0;
}

.breadcrumb-title{
  font-size: 2rem;
}



/*CONTATO*/
.contato{
  padding: 100px 0;
  background: url("../../img/contato-img.jpg") center center;
  background-size: cover;
}
/*FORMULÁRIOS*/
.contato input, .contato select, .contato textarea{
	padding: 15px;
	background: #eee;
	color: #333;
	margin: 5px 0;
	border: 1px solid #ccc;
	width: 100% !important;
	border-radius: 5px;
	font-weight: 500;
}

.contato input[type=submit]{
	background: #E94E1A;
	transition: .3s;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}

.contato input[type=submit]:hover{
	opacity: .8;
}

.wpcf7-response-output{
	background: #017c22;
	color: white;
}

input, textarea{
	border-radius: 5px !important;
}


/*PEDAGOGIA*/
.pedagogia{
  padding: 200px 0;
  background: url("../../img/pedagogia-bg.jpg") center top;
  background-size: cover;
}

/*TURMAS*/
.turmas{
  padding: 100px 0;
  background: url("../../img/pattern2.png") center center;
  background-attachment: fixed;
}


.horarios h5{
	font-size: 2rem;
	background: #ccc;
	color: #683C10;
	padding: 8px;
	font-weight: bold;
	margin-top: 40px;
	border-radius: 4px;
}

.turmas p{
	font-size: 1.2rem;
	padding: 15px;
	background: white;
	margin: 10px 0;
	color: #333;
	border-radius: 4px;

}

.turmas h2{
	font-size: 2rem;
	color: #333;
	font-weight: bold;
	margin-top: 60px;	
}

.segmentos h5{
	font-size: 2rem;
	color: #683C10;
	padding: 8px;
	font-weight: bold;
	margin-top: 40px;	
	border-radius: 4px;

}

.turmas .segmentos:nth-of-type(odd) h5{
	background: #E94E1A;
	color: white;
}

.turmas .segmentos:nth-of-type(even) h5{
	background: #FFDD0E;
}




/*MEDIA QUERIES*/
@media(max-width: 1366px){
  .quem-somos{
	  margin-top: 300px;
	}
}

@media(max-width: 40rem){
  .quem-somos{
	  margin-top: 100px;
	}
  .row{
    --bs-gutter-x: 0;
  }
  .topbar, .desktop-menu{
    display: none !important;
  }

  #header .navbar{
    align-items: center;
  }

  .logo img{
    max-width: 160px;
  }

  .logo{
    text-align: left;
  }

  #hamburger{
    display: block;
  }

  header{
    padding: 0 10px;
  }



  .contato{
    padding: 100px 0;
    background: url("../../img/contato-img.jpg") -600px center;
    background-size: cover;
  }
  
}

