/* ==========================================================================
   6. Footer - The bottom of every page
   ========================================================================== */

#footer {}

.r2-logo {
	height: 50px;
	width: auto;
	fill: black;
}